name: Terraform

on:
  push:
  pull_request:
  workflow_dispatch:

# permission can be added at job level or workflow level    
permissions:
      id-token: write
      contents: read

jobs:
  terraform-actions:
    name: Workflow
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Repository
      uses: actions/checkout@master

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.5

    - name: Terraform Init
      id: init
      run: terraform init
      continue-on-error: true

    - name: Terraform Plan
      id: plan
      run: terraform plan -no-color
      continue-on-error: true

    - name: Terraform apply
      id: apply
      run: terraform apply -no-color -auto-approve
      continue-on-error: true

    # - name: Terraform destroy
    #   id: destroy
    #   run: terraform destroy -no-color -auto-approve
    #   continue-on-error: true  

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: arn:aws:iam::693703879660:role/OpenIDRole-Role-1BBDUVARH6ZJ
        aws-region: us-east-1 
